name: Code Format Check
on:
  push:
    branches: [ "**" ]
    tags: '*'
jobs:
  format-check:
    name: Check Code Formatting
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Julia
      uses: julia-actions/setup-julia@v2
      with:
        version: '1.10'

    - name: Install JuliaFormatter and format
      run: |
        julia  -e 'using Pkg; Pkg.add(PackageSpec(name="JuliaFormatter"))'
        julia  -e 'using JuliaFormatter; format(".", verbose=true)'

    - name: Format check
      run: |
        julia -e '
        out = Cmd(`git diff --name-only`) |> read |> String
        if out == ""
            exit(0)
        else
            @error "Some files have not been formatted !!!"
            write(stdout, out)
            exit(1)
        end'
